<!DOCTYPE html>
<html>
<head>
	<title>hello</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
<style type="text/css">
	body{
		background-color: 'lightblue';
	}
</style>
</head>

<body>
<nav class="navbar navbar-inverse bg-faded">
<a class="navbar-brand" href="#about">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Cyno_Small_Logo_(Aug._2015).png/240px-Cyno_Small_Logo_(Aug._2015).png" width="30" height="30" >

</a>
<div class="col-md-2 bg-warning"><h3>Quizapp</h3></div>

<div class="container off col-md-offset-2">
	<ul class="nav nav-tabs">
 		 <li><a data-toggle="tab" href="#regtab">New User? Register here!</a></li>	
   		<li><a data-toggle="tab" href="#logtab">Already have an account? Login!</a></li>
	</ul>
</nav>
	<div class="tab-content">
		<div id="regtab" class="tab-pane fade text-primary">

	<form action="post">	
	{% csrf_token %}
		
		{{ rform }}



	<button id="rbtn" type="button" class="btn btn-primary btn-lg ">Register!</button> 
		</form>
		</div>
		<div id="logtab" class="tab-pane fade text-success" data-loading-text="Registering">
	<form action="post">
	{% csrf_token %}
		
		{{ lform }}
	

		
		<button id="lbtn" type="button" class="btn btn-primary btn-lg ">Login!</button> 
			</form>
		</div>
	</div>
	</div>




<script type="text/javascript">

$('#rbtn').click(function(){
	var form_data = {
		'username' : $('#id_username').val(),
		'password' : $('#id_password').val(),	
		'name' : $('#id_name').val(),
        'csrfmiddlewaretoken' : $('[name="csrfmiddlewaretoken"]').val()
	}
	console.log(form_data)
	$.post('/registerdata/',form_data,function (data, status){
		console.log(data)
		var dt = JSON.parse(data);
		var reg_status = dt.data.status;
		if(reg_status == 'success'){
			alert("registered! click Ok to go to home");
			window.location = '/#logtab';
		}
		else{
			alert(reg_status);
			console.log(status)
			console.log(reg_status)
		}
		
	});
});

$('#lbtn').click(function(){
var form_data1 = {
	    'usrname': $('#id_usrname').val(),
		'passwd': $('#id_passwd').val(),
        'csrfmiddlewaretoken' : $('[name="csrfmiddlewaretoken"]').val()
		}
		$.post('/userlogin/', form_data1, function (data, status) {
			//console.log(data)
			var dt = JSON.parse(data);
			var login_status = dt.data.status;
			console.log(login_status); 
			if (login_status == 'success') {
				alert("Logged In. Click Ok to go to Home");
				window.location = '/';
			}
			
		});
});

</script>
</body>

</html>